<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SCH BusStationInfo</title>
<link rel="stylesheet" href="/src/css/webpage.css" type="text/css">
</head>
<body>
<div id="Web_1920__1">
	<svg class="n_8">
		<rect id="n_8" rx="0" ry="0" x="0" y="0" width="1516" height="854">
		</rect>
	</svg>
	<svg class="n_7">
		<rect id="n_7" rx="0" ry="0" x="0" y="0" width="1516" height="76">
		</rect>
	</svg>
	<svg class="n_1" viewBox="0 0 1610.408 80.707">
		<path id="n_1" d="M 0 0 L 1610.408447265625 0 L 1610.408447265625 37.57221984863281 L 1610.408447265625 80.70665740966797 L 0 80.70665740966797 L 0 0 Z">
		</path>
	</svg>
	<div id="n__">
		<a th:href="@{http://localhost:8080/sch/station/page}"><span>순천향대 실시간 버스</span></a>
	</div>
	<svg class="n_1_n">
	<ellipse id="n_1_n" rx="119.5" ry="120" cx="119.5" cy="120">
	</ellipse>
	<ellipse id="n_1_n_arrived" rx="119.5" ry="120" cx="119.5" cy="120"
			 th:if="${stationInfo[0].stationStatus.getMessage eq '도착'}">
	</ellipse>
	</svg>
	<svg class="n_2_o">
		<ellipse id="n_2_o" rx="119.5" ry="120" cx="119.5" cy="120">
		</ellipse>
		<ellipse id="n_2_o_arrived" rx="119.5" ry="120" cx="119.5" cy="120"
				 th:if="${stationInfo[1].stationStatus.getMessage eq '도착'}">
		</ellipse>
	</svg>
	<svg class="n_3_p">
		<ellipse id="n_3_p" rx="119.5" ry="120" cx="119.5" cy="120">
		</ellipse>
		<ellipse id="n_3_p_arrived" rx="119.5" ry="120" cx="119.5" cy="120"
				 th:if="${stationInfo[2].stationStatus.getMessage eq '도착'}">
		</ellipse>
	</svg>
	<svg class="n_4">
		<ellipse id="n_4" rx="119" ry="120" cx="119" cy="120">
		</ellipse>
		<ellipse id="n_4_arrived" rx="119" ry="120" cx="119" cy="120"
				 th:if="${stationInfo[3].stationStatus.getMessage eq '도착'}">
		</ellipse>
	</svg>
	<svg class="n_5">
		<ellipse id="n_5" rx="119.5" ry="120" cx="119.5" cy="120">
		</ellipse>
		<ellipse id="n_5_arrived" rx="119.5" ry="120" cx="119.5" cy="120"
				 th:if="${stationInfo[4].stationStatus.getMessage eq '도착'}">
		</ellipse>
	</svg>
	<div>
		<div id="n_630_">
			<span th:text="|${#temporals.format(stationInfo[0].arrivedDateTime,'HH:mm')}분
			${stationInfo[0].stationStatus.getMessage}|"
				  th:if="${stationInfo[0].stationStatus.getMessage eq '도착'}">16:30분 도착</span>
			<span th:text="|${#temporals.format(stationInfo[0].departedDateTime,'HH:mm')}분
			${stationInfo[0].stationStatus.getMessage}|"
				  th:if="${stationInfo[0].stationStatus.getMessage eq '출발'}">16:30분 도착</span>
			<span th:text="${stationInfo[0].stationStatus.getMessage}"
				  th:if="${stationInfo[0].stationStatus.getMessage eq '도착정보없음'}">16:30분 도착</span>
		</div>
		<div id="n_630__t">
			<span th:text="|${#temporals.format(stationInfo[1].arrivedDateTime,'HH:mm')}분
			${stationInfo[1].stationStatus.getMessage}|"
				  th:if="${stationInfo[1].stationStatus.getMessage eq '도착'}" >16:30분 도착</span>
			<span th:text="|${#temporals.format(stationInfo[1].departedDateTime,'HH:mm')}분
			${stationInfo[1].stationStatus.getMessage}|"
				  th:if="${stationInfo[1].stationStatus.getMessage eq '출발'}">16:30분 도착</span>
			<span th:text="${stationInfo[1].stationStatus.getMessage}"
				  th:if="${stationInfo[1].stationStatus.getMessage eq '도착정보없음'}">16:30분 도착</span>
		</div>
		<div id="n_630__u">
			<span th:text="|${#temporals.format(stationInfo[2].arrivedDateTime,'HH:mm')}분
			${stationInfo[2].stationStatus.getMessage}|"
				  th:if="${stationInfo[2].stationStatus.getMessage eq '도착'}">16:30분 도착</span>
			<span th:text="|${#temporals.format(stationInfo[2].departedDateTime,'HH:mm')}분
			${stationInfo[2].stationStatus.getMessage}|"
				  th:if="${stationInfo[2].stationStatus.getMessage eq '출발'}">16:30분 도착</span>
			<span th:text="${stationInfo[2].stationStatus.getMessage}"
				  th:if="${stationInfo[2].stationStatus.getMessage eq '도착정보없음'}">16:30분 도착</span>
		</div>
		<div id="n_630__v">
			<span th:text="|${#temporals.format(stationInfo[3].arrivedDateTime,'HH:mm')}분
			${stationInfo[3].stationStatus.getMessage}|"
				  th:if="${stationInfo[3].stationStatus.getMessage eq '도착'}">16:30분 도착</span>
			<span th:text="|${#temporals.format(stationInfo[3].departedDateTime,'HH:mm')}분
			${stationInfo[3].stationStatus.getMessage}|"
				  th:if="${stationInfo[3].stationStatus.getMessage eq '출발'}">16:30분 도착</span>
			<span th:text="${stationInfo[3].stationStatus.getMessage}"
				  th:if="${stationInfo[3].stationStatus.getMessage eq '도착정보없음'}">16:30분 도착</span>
		</div>
		<div id="n_630__w">
			<span th:text="|${#temporals.format(stationInfo[4].arrivedDateTime,'HH:mm')}분
			${stationInfo[4].stationStatus.getMessage}|"
				  th:if="${stationInfo[4].stationStatus.getMessage eq '도착'}">16:30분 도착</span>
			<span th:text="|${#temporals.format(stationInfo[4].departedDateTime,'HH:mm')}분
			${stationInfo[4].stationStatus.getMessage}|"
				  th:if="${stationInfo[4].stationStatus.getMessage eq '출발'}">16:30분 도착</span>
			<span th:text="${stationInfo[4].stationStatus.getMessage}"
				  th:if="${stationInfo[4].stationStatus.getMessage eq '도착정보없음'}">16:30분 도착</span>
		</div>
		<div id="n_1_x">
			<span th:text="${stationInfo[0].busStationName}">정류장 1</span>
		</div>
		<div id="n___y">
			<a th:href="@{http://localhost:8080/sch/station/page}"><span>실시간 도착정보 보기</span></a>
		</div>
		<div id="n___z">
			<a th:href="@{http://localhost:8080/sch/station/timetable}"><span>학내순환버스 시간표 보기</span></a>
		</div>
		<div id="n_2_">
			<span th:text="${stationInfo[1].busStationName}">정류장 2</span>
		</div>
		<div id="n_3_">
			<span th:text="${stationInfo[2].busStationName}">정류장 3</span>
		</div>
		<div id="n_4_">
			<span th:text="${stationInfo[3].busStationName}">정류장 4</span>
		</div>
		<div id="n_5_">
			<span th:text="${stationInfo[4].busStationName}">정류장 5</span>
		</div>
		<svg class="n_4_ba" viewBox="0 0 1167.142 2">
			<path id="n_4_ba" d="M 0 0 L 1167.142456054688 0">
			</path>
		</svg>
		<div th:unless="${stationInfo[0].stationStatus.getMessage eq '도착정보없음'}">
			<p id="bus-status-1" th:if="${stationInfo[0].stationStatus.getMessage eq '도착'}">후문 도착</p>
			<img id="bus1" src="/src/bus.png" srcset="/src/bus.png 1x, /src/bus@2x.png 2x"
				 th:if="${stationInfo[0].stationStatus.getMessage eq '도착'}">
			<p id="bus-status-2" th:if="${(stationInfo[1].stationStatus.getMessage eq '도착정보없음'
				 and stationInfo[0].stationStatus.getMessage eq '출발')}">향3 가는중</p>
			<img id="bus1-bus2" src="/src/bus.png" srcset="/src/bus.png 1x, /src/bus@2x.png 2x"
				 th:if="${(stationInfo[1].stationStatus.getMessage eq '도착정보없음'
				 and stationInfo[0].stationStatus.getMessage eq '출발')}">

			<p id="bus-status-3" th:if="${stationInfo[1].stationStatus.getMessage eq '도착'}">향3 도착</p>
			<img id="bus2" src="/src/bus.png" srcset="/src/bus.png 1x, /src/bus@2x.png 2x"
				 th:if="${stationInfo[1].stationStatus.getMessage eq '도착'}">
			<p id="bus-status-4" th:if="${(stationInfo[2].stationStatus.getMessage eq '도착정보없음'
				 and stationInfo[1].stationStatus.getMessage eq '출발')}">향2 가는중</p>
			<img id="bus2-bus3" src="/src/bus.png" srcset="/src/bus.png 1x, /src/bus@2x.png 2x"
				 th:if="${(stationInfo[2].stationStatus.getMessage eq '도착정보없음'
				 and stationInfo[1].stationStatus.getMessage eq '출발')}">

			<p id="bus-status-5" th:if="${stationInfo[2].stationStatus.getMessage eq '도착'}">향2 도착</p>
			<img id="bus3" src="/src/bus.png" srcset="/src/bus.png 1x, /src/bus@2x.png 2x"
				 th:if="${stationInfo[2].stationStatus.getMessage eq '도착'}">
			<p id="bus-status-6" th:if="${(stationInfo[3].stationStatus.getMessage eq '도착정보없음'
				 and stationInfo[2].stationStatus.getMessage eq '출발')}">향1 가는중</p>
			<img id="bus3-bus4" src="/src/bus.png" srcset="/src/bus.png 1x, /src/bus@2x.png 2x"
				 th:if="${(stationInfo[3].stationStatus.getMessage eq '도착정보없음'
				 and stationInfo[2].stationStatus.getMessage eq '출발')}">

			<p id="bus-status-7" th:if="${stationInfo[3].stationStatus.getMessage eq '도착'}">향1 도착</p>
			<img id="bus4" src="/src/bus.png" srcset="/src/bus.png 1x, /src/bus@2x.png 2x"
				 th:if="${stationInfo[3].stationStatus.getMessage eq '도착'}">
			<p id="bus-status-8" th:if="${(stationInfo[4].stationStatus.getMessage eq '도착정보없음'
				 and stationInfo[3].stationStatus.getMessage eq '출발')}">인문대앞 가는중</p>
			<img id="bus4-bus5" src="/src/bus.png" srcset="/src/bus.png 1x, /src/bus@2x.png 2x"
				 th:if="${(stationInfo[4].stationStatus.getMessage eq '도착정보없음'
				 and stationInfo[3].stationStatus.getMessage eq '출발')}">

			<p id="bus-status-9" th:if="${stationInfo[4].stationStatus.getMessage eq '도착'}">인문대앞 도착</p>
			<img id="bus5" src="/src/bus.png" srcset="/src/bus.png 1x, /src/bus@2x.png 2x"
				 th:if="${stationInfo[4].stationStatus.getMessage eq '도착'}">
		</div>

		<svg class="n_5_ba" viewBox="0 0 1 38.491">
			<path id="n_5_ba" d="M 0 0 L 0 38.49086761474609">
			</path>
		</svg>
	</div>
</div>
</body>
</html>