<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SCH BusTimetable</title>
<link rel="stylesheet" href="/src/css/webpage-timetable.css" type="text/css">
</head>
<body>
<div id="Web_1920__1">
	<svg class="n_8">
		<rect id="n_8" rx="0" ry="0" x="0" y="0" width="1516" height="854">
		</rect>
	</svg>
	<svg class="n_7">
		<rect id="n_7" rx="0" ry="0" x="0" y="0" width="1516" height="76">
		</rect>
	</svg>
	<svg class="n_1" viewBox="0 0 1610.408 80.707">
		<path id="n_1" d="M 0 0 L 1610.408447265625 0 L 1610.408447265625 37.57221984863281 L 1610.408447265625 80.70665740966797 L 0 80.70665740966797 L 0 0 Z">
		</path>
	</svg>
	<div id="n__">
		<a th:href="@{http://localhost:8080/sch/station/page}"><span>순천향대 실시간 버스</span></a>
	</div>
		<div id="n___y">
			<a th:href="@{http://localhost:8080/sch/station/page}"><span>실시간 도착정보 보기</span></a>
		</div>
		<div id="n___z">
			<a th:href="@{http://localhost:8080/sch/station/timetable}"><span>학내순환버스 시간표 보기</span></a>
		</div>
		<img id="timetable" src="/src/timetable.jpg">

		<svg class="n_5_ba" viewBox="0 0 1 38.491">
			<path id="n_5_ba" d="M 0 0 L 0 38.49086761474609">
			</path>
		</svg>
	</div>
</div>
</body>
</html>