.mediaViewInfo {
		--web-view-name: Home;
		--web-view-id: Home;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: Home;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Home {
		position: absolute;
		width: 375px;
		height: 812px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: Home;
		--web-view-id: Home;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	#n__ {
		left: 20px;
		top: 65px;
		position: absolute;
		overflow: visible;
		width: 118px;
		white-space: nowrap;
		text-align: left;
		font-family: Euclid Circular A;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		color: rgba(34,62,109,1);
	}
	#iPhone_XStatus_BarsStatus_Bar_ {
		position: absolute;
		width: 364px;
		height: 44px;
		left: 6px;
		top: 7px;
		overflow: visible;
	}
	#iPhone_XStatus_BarsStatus_Bar__l {
		position: absolute;
		width: 364px;
		height: 44px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle {
		fill: rgba(0,0,0,0);
	}
	.Rectangle {
		position: absolute;
		overflow: visible;
		width: 364px;
		height: 44px;
		left: 0px;
		top: 0px;
	}
	#Battery {
		position: absolute;
		width: 31px;
		height: 11.333px;
		left: 312.219px;
		top: 18.333px;
		overflow: visible;
	}
	#Border {
		opacity: 0.35;
		fill: rgba(87,87,87,1);
	}
	.Border {
		position: absolute;
		overflow: visible;
		width: 28.672px;
		height: 11.333px;
		left: 0px;
		top: 0px;
	}
	#Cap {
		opacity: 0.4;
		fill: rgba(87,87,87,1);
	}
	.Cap {
		overflow: visible;
		position: absolute;
		width: 1.328px;
		height: 4px;
		left: 29.672px;
		top: 3.667px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Capacity {
		fill: rgba(87,87,87,1);
	}
	.Capacity {
		position: absolute;
		overflow: visible;
		width: 18px;
		height: 7.333px;
		left: 2px;
		top: 2px;
	}
	#n_250 {
		left: 32px;
		top: 17px;
		position: absolute;
		overflow: visible;
		width: 42px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(87,87,87,1);
	}
	#Wifi {
		fill: rgba(87,87,87,1);
	}
	.Wifi {
		overflow: visible;
		position: absolute;
		width: 15.272px;
		height: 10.966px;
		left: 282.694px;
		top: 17.331px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Cellular_Connection {
		fill: rgba(87,87,87,1);
	}
	.Cellular_Connection {
		overflow: visible;
		position: absolute;
		width: 17px;
		height: 10.667px;
		left: 260.667px;
		top: 17.667px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Navbar {
		position: absolute;
		width: 375px;
		height: 77.02px;
		left: 0px;
		top: 751px;
		overflow: visible;
	}
	#n_4 {
		fill: rgba(255,255,255,1);
	}
	.n_4 {
		filter: drop-shadow(0px 3px 20px rgba(96, 113, 147, 0.161));
		overflow: visible;
		position: absolute;
		width: 435px;
		height: 137.02px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#noun_Home_1191731 {
		position: absolute;
		width: 21.635px;
		height: 21.057px;
		left: 33.55px;
		top: 768px;
		overflow: visible;
	}
	#n_110 {
		fill: rgba(54,123,226,1);
	}
	.n_110 {
		overflow: visible;
		position: absolute;
		width: 18.148px;
		height: 10.382px;
		left: 1.699px;
		top: 10.675px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n_111 {
		fill: rgba(54,123,226,1);
	}
	.n_111 {
		overflow: visible;
		position: absolute;
		width: 21.635px;
		height: 10.805px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Layer_2 {
		position: absolute;
		width: 22.277px;
		height: 22.277px;
		left: 91.425px;
		top: 768px;
		overflow: visible;
	}
	#art {
		position: absolute;
		width: 22.277px;
		height: 22.277px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#n_112 {
		fill: rgba(187,199,219,1);
	}
	.n_112 {
		overflow: visible;
		position: absolute;
		width: 3.232px;
		height: 6.384px;
		left: 0px;
		top: 7.922px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n_113 {
		fill: rgba(187,199,219,1);
	}
	.n_113 {
		overflow: visible;
		position: absolute;
		width: 2.023px;
		height: 2.023px;
		left: 4.086px;
		top: 10.106px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n_114 {
		fill: rgba(187,199,219,1);
	}
	.n_114 {
		overflow: visible;
		position: absolute;
		width: 3.232px;
		height: 6.384px;
		left: 19.045px;
		top: 7.922px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n_115 {
		fill: rgba(187,199,219,1);
	}
	.n_115 {
		overflow: visible;
		position: absolute;
		width: 2.023px;
		height: 2.023px;
		left: 16.147px;
		top: 10.106px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n_116 {
		fill: rgba(187,199,219,1);
	}
	.n_116 {
		overflow: visible;
		position: absolute;
		width: 6.384px;
		height: 3.232px;
		left: 7.922px;
		top: 19.045px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n_117 {
		fill: rgba(187,199,219,1);
	}
	.n_117 {
		overflow: visible;
		position: absolute;
		width: 2.023px;
		height: 2.023px;
		left: 10.099px;
		top: 16.168px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n_118 {
		fill: rgba(187,199,219,1);
	}
	.n_118 {
		overflow: visible;
		position: absolute;
		width: 6.384px;
		height: 3.232px;
		left: 7.922px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n_119 {
		fill: rgba(187,199,219,1);
	}
	.n_119 {
		overflow: visible;
		position: absolute;
		width: 2.016px;
		height: 2.016px;
		left: 10.106px;
		top: 4.093px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n_120 {
		fill: rgba(187,199,219,1);
	}
	.n_120 {
		overflow: visible;
		position: absolute;
		width: 5.197px;
		height: 5.186px;
		left: 15.773px;
		top: 15.777px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n_121 {
		fill: rgba(187,199,219,1);
	}
	.n_121 {
		overflow: visible;
		position: absolute;
		width: 2.016px;
		height: 2.016px;
		left: 14.383px;
		top: 14.383px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n_122 {
		fill: rgba(187,199,219,1);
	}
	.n_122 {
		overflow: visible;
		position: absolute;
		width: 5.191px;
		height: 5.191px;
		left: 1.286px;
		top: 1.286px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n_123 {
		fill: rgba(187,199,219,1);
	}
	.n_123 {
		overflow: visible;
		position: absolute;
		width: 2.016px;
		height: 2.016px;
		left: 5.85px;
		top: 5.85px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n_124 {
		fill: rgba(187,199,219,1);
	}
	.n_124 {
		overflow: visible;
		position: absolute;
		width: 5.191px;
		height: 5.191px;
		left: 15.765px;
		top: 1.272px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n_125 {
		fill: rgba(187,199,219,1);
	}
	.n_125 {
		overflow: visible;
		position: absolute;
		width: 2.021px;
		height: 2.019px;
		left: 14.374px;
		top: 5.841px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n_126 {
		fill: rgba(187,199,219,1);
	}
	.n_126 {
		overflow: visible;
		position: absolute;
		width: 5.188px;
		height: 5.191px;
		left: 1.279px;
		top: 15.765px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n_127 {
		fill: rgba(187,199,219,1);
	}
	.n_127 {
		overflow: visible;
		position: absolute;
		width: 2.016px;
		height: 2.016px;
		left: 5.843px;
		top: 14.369px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Text {
		left: 40px;
		top: 793px;
		position: absolute;
		overflow: visible;
		width: 7px;
		white-space: nowrap;
		text-align: left;
		font-family: Euclid Circular A;
		font-style: normal;
		font-weight: bold;
		font-size: 7px;
		color: rgba(54,123,226,1);
	}
	#Text_bi {
		left: 96px;
		top: 793px;
		position: absolute;
		overflow: visible;
		width: 13px;
		white-space: nowrap;
		text-align: left;
		font-family: Euclid Circular A;
		font-style: normal;
		font-weight: bold;
		font-size: 7px;
		color: rgba(187,199,219,1);
	}
	#Cursos {
		left: 262px;
		top: 794px;
		position: absolute;
		overflow: visible;
		width: 25px;
		white-space: nowrap;
		text-align: left;
		font-family: Euclid Circular A;
		font-style: normal;
		font-weight: bold;
		font-size: 7px;
		color: rgba(187,199,219,1);
	}
	#Text_bk {
		left: 321px;
		top: 793px;
		position: absolute;
		overflow: visible;
		width: 13px;
		white-space: nowrap;
		text-align: left;
		font-family: Euclid Circular A;
		font-style: normal;
		font-weight: bold;
		font-size: 7px;
		color: rgba(187,199,219,1);
	}
	#noun_learn_1572022 {
		position: absolute;
		width: 16.628px;
		height: 15.854px;
		left: 266.125px;
		top: 772.273px;
		overflow: visible;
	}
	#n_61 {
		position: absolute;
		width: 16.628px;
		height: 15.854px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#n_128 {
		fill: rgba(187,199,219,1);
	}
	.n_128 {
		overflow: visible;
		position: absolute;
		width: 16.628px;
		height: 15.854px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Icon_feather-user-check {
		position: absolute;
		width: 12.273px;
		height: 14.727px;
		left: 321px;
		top: 773.273px;
		overflow: visible;
	}
	#n_129 {
		fill: transparent;
		stroke: rgba(187,199,219,1);
		stroke-width: 1.5px;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.n_129 {
		overflow: visible;
		position: absolute;
		width: 13.773px;
		height: 6.409px;
		left: 0px;
		top: 9.818px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n_130 {
		fill: transparent;
		stroke: rgba(187,199,219,1);
		stroke-width: 1.5px;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.n_130 {
		overflow: visible;
		position: absolute;
		width: 8.045px;
		height: 8.045px;
		left: 2.864px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n_ {
		left: 18px;
		top: 106px;
		position: absolute;
		overflow: visible;
		width: 93px;
		white-space: nowrap;
		text-align: left;
		font-family: Euclid Circular A;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(34,62,109,1);
	}
	#n__1 {
		mix-blend-mode: normal;
		position: absolute;
		width: 337px;
		height: 445px;
		left: 6px;
		top: 132px;
		overflow: hidden;
	}
	#IMG_1280 {
		position: absolute;
		width: 337px;
		height: 476px;
		left: 0px;
		top: -35px;
		overflow: visible;
	}